#fbla{
    background-color: black;
    color: white;
}
#fbr{
    background-color: brown;
    color: white;
}
#fre{
    background-color: red;
    color: white;
}
#fo{
    background-color: orange;
    color: white;
}
#fy{
    background-color: yellow;
    color: black;
}
#fg{
    background-color: green;
    color: white;
}
#fbl{
    background-color: blue;
    color: white;
}
#fpu{
    background-color: purple;
    color: white;
}
#fgr{
    background-color: gray;
    color: white;
}
#fw{
    background-color: white;
    color: black;
}
#fp{
    background-color: black;
    color: white;
}
#fm{
    background-color: brown;
    color: white;
}
#fv{
    background-color: red;
    color: white;
}
#fl{
    background-color: orange;
    color: white;
}
#fa{
    background-color: yellow;
    color: black;
}
#fve{
    background-color: green;
    color: white;
}
#faz{
    background-color: blue;
    color: white;
}
#fr{
    background-color: purple;
    color: white;
}
#fc{
    background-color: gray;
    color: white;
}
#fbra{
    background-color: white;
    color: black;
}
#fpr{
    background-color: black;
    color: white;
}
#fma{
    background-color: brown;
    color: white;
}
#fvo{
    background-color: red;
    color: white;
}
#fla{
    background-color: orange;
    color: white;
}
#fam{
    background-color: yellow;
    color: black;
}
#fved{
    background-color: green;
    color: white;
}
#fazu{
    background-color: blue;
    color: white;
}
#fro{
    background-color: purple;
    color: white;
}
#fci{
    background-color: gray;
    color: white;
}
#fb{
    background-color: white;
    color: black;
}
#fou{
    background-color: gold;
    color: white;
}
#fpra{
    background-color: silver;
    color: black;
}
#fmar{
    background-color: brown;
    color: white;
}
#fvem{
    background-color: red;
    color: white;
}
#fverd{
    background-color: green;
    color: white;
}
#fazul{
    background-color: blue;
    color: white;
}
#frox{
    background-color: purple;
    color: white;
}
#fcinz{
    background-color: gray;
    color: white;
}
#fbranc{
    background-color: white;
    color: black;
}
#four{
    background-color: gold;
    color: white;
}
#fprat{
    background-color: silver;
    color: black;
}